@model Demo.dt_Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dt_Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Form)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Daodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Daodu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Click)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Click)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSlide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSlide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Download)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Download)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndexImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndexImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HerfFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HerfFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.htmlpath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.htmlpath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spell)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
